
.idea/workspace.xml
.idea/workspace.xml
.idea/Atividades.iml
.idea/modules.xml
.idea/vcs.xml
MultipleLinearRegression/.ipynb_checkpoints/Regressão+Linear+Simples-checkpoint.ipynb
MultipleLinearRegression/.ipynb_checkpoints/mlr-checkpoint.ipynb
MultipleLinearRegression/mlr - Copia.ipynb
MultipleLinearRegression/.ipynb_checkpoints/mlr-checkpoint.ipynb
